

body {
    height: 100lvh;
    width: 100lvw;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: repeat(1, 50%);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: space-evenly;
  }

  

main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 90%;
    gap: 20px;
    margin: 0 30px;
    align-self: baseline;
    height: 100%;
}


.header, footer {
  display: grid;
  align-items: center;
  height: 10vh;
  background-color: #f6f6f6;
  margin: 15px 0;
  padding: 15px 30px;
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  letter-spacing: 1.5pt;

  justify-content: space-evenly;
  align-content: center;

}

.footer {
  grid-template-columns: repeat(3, 1fr);

}

@media screen and (max-width: 1100px) {
  html {
    font-size: 70%;
  }

body {
  grid-template-columns: repeat(1, 70%);
}

  .header, footer {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 50%;
  }

  body {
    grid-template-columns: repeat(1, 100%);
  }
  

  .header, footer {
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 5px 5px;
  }
}